{% if user is defined and user is not null %}
<p>Hello, {{ user.displayName }}. View your <a href="/profile">profile</a>.</p>
{% else %}
<p>Welcome! Please <a href="/login">log in</a>.</p>
{% endif %}
